!gradle-wrapper.jar
!gradle-wrapper.properties
!src/**/build/
**/build/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/private/
*.a
*.app
*.class
*.cmd
*.ctxt
*.d
*.dSYM/
*.dll
*.dylib
*.ear
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.iws
*.jar
*.ko
*.la
*.lai
*.lib
*.lo
*.log
*.lst
*.map
*.mod
*.mod*
*.nar
*.o
*.obj
*.out
*.pch
*.pdb
*.rar
*.slo
*.smod
*.so
*.so.*
*.su
*.tar.gz
*.war
*.x86_64
*.xccheckout
*.xcscmblueprint
*.zip
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.classpath
.com.apple.timemachine.donotpresent
.dub
.fseventsd
.gradle
.gradletasknamecache
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.mtj.tmp/
.nb-gradle/
.project
.tmp_versions/
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Icon
Makefile
Mkfile.old
Module.symvers
Network Trash Folder
Temporary Items
Testing
__dummy.html
_deps
atlassian-ide-plugin.xml
build/
cmake-build-*/
cmake_install.cmake
com_crashlytics_export_strings.xml
compile_commands.json
crashlytics-build.properties
crashlytics.properties
dist/
dkms.conf
docs.json
docs/
fabric.properties
gradle-app.setting
hs_err_pid*
install_manifest.txt
modules.order
nbbuild/
nbdist/
out/
replay_pid*
xcuserdata/
/.idea/modules/gui/keitai-gui.gui.main.iml
/.idea/modules/lib/keitai-gui.lib.main.iml
/.idea/modules/lib/keitai-gui.lib.test.iml
/.idea/modules.xml
